#!/bin/sh
set -xe
cd /data
mkdir -p mods

echo "Copying server.jar"
cp -a /jars/server/{{ .ServerVersion }}/* ./

echo "Copying config file"
cat /config/server.properties > server.properties

echo "Copying mods"
{{ range $mod := .ModJars }}
cp /jars/mods/{{ $mod }} mods/
{{ end }}

echo "Writing eula.txt file"
cat << EOF > eula.txt
eula=true
EOF

echo "Directory contents:"
ls -ltr
